html,
body {
  width: 100%;
  background-color: #fafafa;
  font-size: 24px;
  font-family: "Lexend Deca", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  color: black;
  font-size: 3rem;
  line-height: 0;
}

h2 {
  color: black;
  line-height: 0.5;
}

p {
  font-weight: 300;
  color: #383838;
  font-size: 1rem;
}

button {
  background-color: #383838;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fafafa;
  border: none;
}

button:hover {
  background-color: #000000;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
  color: #383838;
  font-size: 1.5rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-content: center;
  justify-items: center;
  align-items: stretch;
  height: 100vh;
}

.left {
  align-self: center;
  padding: 2rem;
  margin-left: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
}

.links {
  margin-top: 1rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 200px;
  width: 500px;
  background-color: #383838;
  line-height: 1;
}

.project--title {
  height: 70px;
}

.project--desc {
  width: 80%;
}

.title {
  color: #fafafa;
  line-height: 0;
}

.text {
  color: #fafafa;
  font-size: 0.8rem;
}

.tech {
  color: #a5a5a5;
  font-size: 0.6rem;
}

.project--desc {
  padding: 0.2rem;
}

.project--img {
  width: 150px;
  height: 200px;
}

.project--img img {
  width: 100%;
  height: auto;
}
